/* 📍 src/components/Hero.css */

.hero {
  background: black;
  text-align: center;
  padding: 80px 20px;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.main-logo {
  width: 550px;
}

.light {
  width: 450px;
}

.hero button {
  margin-top: 30px;
  padding: 10px 25px;
  background: #fd819;
  border-radius: 8px;
}