/* 📍 src/components/Navbar.css */

.navbar {
  background: #fed819;
  padding: 10px 60px 10px 30px;
  border-radius: 0px 0px 10px 10px;
  width: fit-content;
  margin: 0px auto 2px ;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-weight: bold;
}