/* 📍 src/components/Speaker.css */

.speaker {
  background: red;
  color: white;
  padding: 50px 20px;
}

.speaker-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.speaker img {
  width: 250px;
}

.speaker-text {
  max-width: 500px;
}